DISCORD_TOKEN=
GROQ_API_KEY=
GEMINI_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
TTS_SERVER_URL=http://192.9.148.110:8000/tts
TTS_SERVER_TOKEN=
STT_SERVER_URL=http://127.0.0.1:8801
GPU_WORKER_URL=
GPU_WORKER_API_KEY=
ANIMA_MODEL_PATH=models/anima/anima_v4_ft.safetensors
